body {
  padding-top: 12px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #555;
}
text, .container {
  font-family: "Ubuntu", sans-serif;
  width: 1000px !important;
}
.container {
  border: 1px solid #fff !important;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

[class*="col-"], footer {
  border: 0px solid white;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}

.helpOverlay {
  top: 12px;
}
.helpOverlayTitle {
  color: #fff;
  font: bold;
  font-size: 18px;
  text-align: center;
  margin-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
}
.helpOverlayFooter {
  color: #fff;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  margin-top: 955px;
  margin-left: 20px;
}

.headings {
  font-size: 20px;
  padding-left: 20px;
  color: #565656;
  text-align: left;
}

#pageTitle {
  text-align: center;
  left: 24px;
  padding-bottom: 5px;
}

#chartHeading {
  font-size: 18px;
  fill: #565656;
  top: -10px;
}

#logo_BNP {
  text-align: center;
}
#logo_GCP {
  text-align: center;
}
#logo_CDP {
  text-align: center;
}
.footerClass {
  position: relative;
  top: -162px;
}

/*--------------------------*/
/* buttons */
#clearButton {
  position: absolute;
  left: 31px;
  top: 4px;
  background-color: #ffaa1b;
  border-color: #fff;
  color: #000;
}
#helpButton {
  position: absolute;
  left: 13px;
  top: 4px;
  background-color: #ffaa1b;
  border-color: #fff;
  color: #000;

}

/*--------------------------*/
/* tooltips */
div.tooltip-bar {
  position: absolute;
  height: 46px;
  width: 175px;
  padding: 6px;
  background: #8A979D;
  color: #000;
  border-radius: 4px;
  border-color: #5E554D;
  font-size: 12px;
  font-weight: bold;
}
.tooltip-legend {
  position: absolute;
  height: 50px;
  width: 350px;
  padding: 6px;
  background: #F7F6E4;
  color: #555;
  border-radius: 4px;
  font-size: 12px;
}
.tooltip-units {
  position: absolute;
  height: 58px;
  width: 350px;
  padding: 6px;
  background: #F7F6E4;
  color: #555;
  border-radius: 4px;
  font-size: 12px;
}

div.tooltip {
  position: absolute;
  text-align: left;
  top: 536px;
  left: 1030px;
  width: 150px;
  height: 60px;
  padding: 6px;
  font-size: 12px;
  background: #F7F6E4;
  color: #555;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

/*--------------------------*/
/* map */
.worldcountry {
  fill: rgb(24, 71, 27);
  stroke: #555;
  stroke-width: 1.5;
}
.worldcity {
  stroke: #555;
}
.cityactive {
  fill: #20f216 !important;
}
.cityfade {
  opacity: 0.2  !important;
}
.countryfade {
  opacity: 0.2 !important;
}
.groupEastAsia {
  fill: #d15081;
}
.groupNAmer {
  fill: #80c2ff;
}
.groupEurope {
  fill: #c398db;
}
.groupLatinAmer {
  fill: #ee8370;
}
.groupSEAsia, .HEREgroupSEAsia {
  fill: #2b8f00;
}
.groupSAsia {
  fill: #40d5c7;
}
.groupAfrica {
  fill: #fcc751;
}
.groupOceania {
  fill: #f03b20;
}
.NAfricaWAsia {
  fill: #d8c10b;
}
.horsService {
  fill: none;
}

/* to allow x-axis labels to overflow past div bd */
.data svg {
  overflow: visible;
}

.stroke {
  fill: none;
  stroke: #555;
  stroke-width: 1px;
}
.fill {
  fill: #555;
}
.graticule {
  fill: none;
  stroke: #555;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.land {
  fill: #222;
}
.boundary {
  fill: none;
  stroke: #555;
  stroke-width: .5px;
}

/*--------------------------*/
/* bar chart */
.bar-group {
  stroke: #747474;
  stroke-width: 0.9;
}
.bar-group .active {
  stroke: #363636 !important;
  fill: #20f216 !important;
}
.bar-group .fade {
  opacity: 0.3 !important;
}
.isNan {
  stroke: black;
}
.barMarker marker {
  fill: #555;
}
.barMarker path {
  stroke: #555;
}
.barMarker text {
  fill: #565656;
}

.headingClass { /* svg stylings */
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #565656;
}
#h1 {
  left: 415px;
  top: -15px;
}
#h2 {
  left: 415px;
  top: -77px;
}
#h3 {
  left: 166px;
  top: -91px;
}
#h4 {
  left: 672px;
  top: -91px;
}
#h5, #h6, #h7, #h8, #h9 {
  top: -135px;
}
#h5 {
  left: 109px;
}
#h6 {
  left: 215px;
}
#h7 {
  left: 298px;
}
#h8 {
  left: 294px;
}
#h9 {
  left: 244px;
}

.yaxLabel {
  font-size: 19px;
  fill: #565656;
}

#barChartCaption {
  color: #565656;
  text-align: left;
  font-size: 18px;
  position: relative;
  top: -13px;
  left: 171px;
  margin-right: 70px;
}

.textLabels {
  fill: #636363;
}

.barChartTitle {
  color: #565656;
  font-size: 14px;
  font-weight: bold;
  padding-left: 23px;
  text-align: left;
}

.hideTick {
  opacity: 0;
}
.hideTick text {
  opacity: 0;
}
.axis {
  font: 22px sans-serif;
}
.x.axis text {
  fill: #4b4242;
  font: 12px sans-serif;
}

.y.axis text {
  fill: #565656;
}
#barChart_groupEastAsia .x.axis text {
  font-size: 11px;
}
#barChart_groupEastAsia .enlarged {
  font-size: 16px !important;
  stroke: #000;
}
.enlarged {
  font-size: 14px !important;
  stroke: #000;
}
.fadeText {
  opacity:  0.3;
}

/* barChart legend */
#selector {
  margin-left: 0px;
}
.legendText {
  fill: rgb(86, 86, 86);
  stroke: none;
  font-size: 12px;
  display: inline;
}
.legendCB {
  margin-left: 0px;
}
#dropdownMenu {
  margin-left: 0px;
  margin-top: -11px;
  color: #565656;
  text-align: left;
}
label {
  font-family: Ubuntu, sans-serif;
  position: absolute;
  top: -13px;
  left: 152px;
}
#barChartLegend {
  position: relative;
  top: -14px;
  left: 0px;
  stroke: gray;
}
#barChartLegendUnits {
  text-align: left;
  font-size: 11px;
  padding-left: 0px;
  left: 160px;
  top: -2px;
  color: #636363;
}
.units {
  position: relative;
  top: -14px;
  left: 0px;
  fill: rgb(86, 86, 86);
  font-size: 12px;
}
.unitsactive {
  text-decoration-line: underline;
}
/*--------------------------*/
/* city card */
#cityCardg rect {
  fill: #c7d1d9;
  stroke: none;
}

.titlerow {
  font-weight: bold;
  font-size: 16px;
  color: #00563c;
  stroke: none;
  text-align: center;
}

.subrow, .updated {
  font-size: 15px;
  stroke: none;
  color: #00563c;
  text-align: left;
  margin-left: 27px;
}

.updated.row2, .updated.row4, .updated.row6, .updated.row8, .updated.row10, .subrow.row6, .subrow.row8, .subrow.row10 {
  margin-top: -21px;
  color: #00563c;
}
.updated.row1, .updated.row3, .updated.row5, .updated.row7, .updated.row9, .subrow.row5, .subrow.row7, .subrow.row9 {
  text-transform: uppercase;
  margin-top: -11px;
  color: #3b112d;
  font-weight: bold;
  font-size: 14px;
}
.removed {
  background: #000;
}

#cityCardDiv {
  background: #c7d1d9;
}

.cityCardSubrowTitle {
  font-weight: 700;
  font-size: 11px;
  stroke: none;
  fill: #fff500; /* #ffaa1b; */
  text-shadow: 0 0 5px #333333;
  text-transform: uppercase;
  text-align: right;
}
.cityCardAttr {
  font-size: 11px;
  stroke: none;
  fill: #fff;
  text-align: right;
}

.style("text-transform", "uppercase")

td, th {
  padding: 1px 4px;
  font-size: 14px;
}
